@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --red: #d01c28;
    --gray: #2e2e2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins",sans-serif;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 24px;
}

button{ 
    all: unset;
    padding: 6px 16px;
    background-color: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.mainContainer{
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
}

main h1{
    font-weight: 900;
    font-size: 88px;
    line-height: 82px;
}

main p{
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
}

.main-buttons{
    display: flex;
    gap: 40px;
}

.btn{
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid var(--gray);
}

.second-btn{
    background-color: transparent;
    color: var(--gray);
}

.Available p{
    margin-bottom: 8px;
    font-size: 14px;
}


.brands-icon{
    display: flex;
    gap: 16px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.Active{
    background-color: rgba(158, 156, 156, 0.725);
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
}


.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-left: auto;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: black;
    transition: 0.3s ease;
}

.nav-links li{
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-links li:active{
    background-color: #e0e0e0;
}

.shop-btn:active{
     background-color: #d14e59;
}

.category-btn:active{
     background-color: #e0e0e0;
}

.Login{
    display: none;
}

.nav-login:active{
    background-color: #d14e59;
}

.nav-sign{
    background-color: white;
    color: var(--gray);
    margin-right: 20px;
}

.nav-sign:active{
     background-color: #e0e0e0;
}

@media (max-width:768px){
    
    .mainContainer{
        flex-direction: column;
        height: auto;
        text-align: center;
        padding-top: 40px;
    }

    .main-image{
        order: -1;
    }

    .main-image img{
        width: 100%;
        max-width: 350px;
    }


    main h1{
      font-weight: 900;
      font-size: clamp(36px,8vw,88px);
      line-height: 1.1;
    }

    main p{
        max-width: 100%;
    }

    nav{
        padding: 0 20px;
        border-bottom: 1px black solid;
        box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
    }

    .main-buttons{
        flex-direction: column;
        gap:16px;
        align-items: center;
    }

    .main-buttons button{
        width: 100%;
        max-width: 250px;
    }

    .shop-btn:active{
        background-color: #d14e59;
    }

    .category-btn:active{
        background-color: #e0e0e0;
    }

    .nav-links{
      position: absolute;
      top:72px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 0;

      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
    }

    .nav-links.active{
        max-height: 300px;
        padding: 20px 0;
    }

    nav{
        position: relative;
    }

    .nav-login{
        display: none;
    }

    .hamburger{
        display: flex;
    }

    .Active{
        text-align: center;
    }

    .brands-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    .Login{
        display:block;
    }
    
    .nav-sign{
        display: none;
    }

    .menu-text{
        font-weight:900;
    }
    
}
